@import url("boilerplate.css");
@import url("footer.css");
@import url("theme.css");




body{
padding:0;
margin:0;
font-family:'Poppins',sans-serif;
/* background-color:var(--white-bg); */
}

header,section,footer,article{
padding:2.5rem;
}

/* headings */
h1,h2,h3,h4{
text-transform:capitalize;
}
h2,h3{
color: #696984;
font-weight:600;
text-transform:uppercase;
text-align:center;
}
h2{
font-size:1.4rem;
}
h3{
font-size:1.2rem;
font-weight:600;
}
h4{
font-size:1.1rem;
font-weight:500;
}
span{
font-size:0.9rem;
}
p,span,small{
color:#696984;
}
/* p{
margin-top:1rem;
} */


/* for all list styles */
ul{
list-style-type:none;
padding:0;
margin:0;
}
/* for all anchor elements */
a{
text-transform:capitalize;
text-decoration:none;
font-size:1.1em;
}
img{
width:100%;
display:block;/*liable toc change*/
border-radius:inherit;
}


/* general class names */
.round-cta-btn{
border:1px solid var(--white-color);
border-radius:20px;
display:block;
padding:0.7rem;
background-color:#0f4625;
text-transform:capitalize;
color:var(--white-color);
}
.cta-btn{
/* border:1px solid #ccc; */
display:block;
text-align:center;
padding:0.4rem;
width:100px;
border-radius:15px;
font-size:90%;
font-weight:500;
box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
border:none;
}
.paragraph{
margin-bottom:2em;
border:0px solid green;
font-size:0.85rem;
line-height:1.8;
}






/* 
=============================================
==============GENERAL MEDIA QEURIES==========
 */

/* 
=============================================
==============GENERAL MEDIA QEURIES==========
The following breakpoints were used to implement this
mobile view: 0px - 480px;
Tablet view 480px - 810px;
Desktop view - 810px----
 */
