

/* Header styles goes here */
header{
border:0px solid orange;
}
.header-container
.logo-container{
display:flex;
flex-flow:row wrap;
align-items:flex-start;
}
.header-container
.logo-container>*{
border:0px solid orange;
}
.header-container
.logo-container>*:first-child{
flex-basis:60px;
}
.header-container
.logo-container>*:last-child{
flex-basis:120px;
}
.header-container
.logo-container>*:last-child p,
.header-container
.logo-container>*:last-child small
{
font-size:62%;
color:var(--logo-text-color);
font-weight:500;
}
.header-container
.header-row{
border:0px solid red;
}
.header-container
.header-row{
display:flex;
flex-flow:row wrap;
justify-content:space-between;
/* gap:1%; */
position: relative;
}
.header-container
.header-row>*:last-child{
flex-basis:4%;
border:0px solid red;
display:flex;
align-items:flex-start;
justify-content:space-between;
}

.header-container
.header-row>*:first-child{
flex-basis:100px;
}
.header-container
.header-row>*{
/* flex-basis:48%; */
border:0px solid green;
}
.header-container
.header-row
.navbar-container{
position:absolute;
border:1px solid #000;
background-color:#010216;
color:var(--white-color);
top:0;
left:0;
z-index:-1;
display:none;
}





.toggle-btn{
cursor: pointer;
color: #696969;;
display:inline-block;
font-size:1.4em;
padding:0px 12px 6px;
}
.toggle-btn:focus-within,
.toggle-btn:hover
{
color:var(--hover-color)
}






/* =================================================
===========================MEDIA QUERIES============ 
Break points 0px - 480px -980px;
*/

/* 
************not part standard of the standard break points*******
for the header theme icon 
*/
/*===========================mini Tablet==================== */
@media(min-width:320px){
.header-container
.header-row>*:first-child{
flex-basis:140px;
}
}



/* ======================Tablet Device =============== */
@media(min-width:480px){
.header-container
.header-row>*:first-child{
flex-basis:180px;
}
}




/* =========================Deskktop Device================= */
@media(min-width:980px){

}