/* Alumni css styles */
.table-container {
  overflow: auto;
}
.table-container::-webkit-scrollbar {
  height: 5px;
  width: 10px;
}
.table-container::-webkit-scrollbar-thumb {
  background-color: var(--color);
  border-radius: 14px;
}
table {
  /* border:1px solid #000; */
  width: 100%;
}
table,
th,
td {
  -o-border: 1px solid var(--color);
  -moz-border: 1px solid var(--color);
  -webkit-border: 1px solid var(--color);
  border: 1px solid var(--color);
  border-collapse: collapse;
  padding: 0.7rem;
  vertical-align: middle;
}
th {
  font-weight: 500;
  font-size: 0.98rem;
  text-transform: capitalize;
  text-align: left;
  color: var(--color);
}
td {
  color: var(--color);
}
th:first-child,
td:first-child {
  text-align: center;
  font-weight: 500;
  font-size: 0.98rem;
}
/* .alumni-page  */
