/* =======================
Digital Library Styles
==========================*/
/* =======================
Loading Animation
==========================*/
.loading-page {
  background: #ecece0;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 4000;
  display: flex;
}
.loading-page .fa {
  font-size: 4rem;
  font-weight: 800;
  color: var(--green);
  display: block;
}
.loading-page .loading-body {
  margin: auto;
}
.loading-page .loading-text {
  text-transform: capitalize;
  color: var(--color);
}

.stop-loading {
  display: none;
}
.start-loading {
  display: block;
}

/* ==================================
 Virtual Librabry Styles
=======================================*/
.virtual-library h1,
.virtual-library h2 {
  text-align: initial;
}
.virtual-library .search-bar {
  position: relative;
  border-radius: 28px;
  /* width: 80%; */
  margin: 2rem auto;
}
.virtual-library .search-bar input {
  width: 100%;
  padding: 1.2rem;
  border-radius: inherit;
  outline: none;
  border: 1px solid var(--color);
  text-align: center;
}
.virtual-library .search-bar .search-icon {
  position: absolute;
  /* width: 100%; */
  top: 15px;
  left: 15px;
  cursor: pointer;
}
.virtual-library .search-bar .search-icon svg {
  width: 26px;
}

.virtual-library .cta-btn {
  width: 100%;
  padding: 0.8rem;
  background-color: var(--color);
  color: #fff;
  border-radius: 25px;
}

.virtual-library .flex-2 .banner-image {
  height: 350px;
  margin-top: 4rem;
}
.virtual-library .flex-2 .banner-image img {
  height: 100%;
  object-fit: cover;
  object-position: 100% 50%;
  border-radius: 14px;
}

/* 
==============================
==============================
for the generated card figure 
(library landing page)
===============================
*/
.card figure {
  border: 1px solid red !important;
  margin-bottom: 2rem;
}
figure.card {
  box-shadow: var(--box-shadow);
  border-radius: 14px;
  padding: 1rem;
}

figure.card .card-container {
  height: 100%;
  /* padding: 0rem 1rem; */
  border-radius: inherit;
}
.card .main-section.flex-2 {
  align-items: flex-start;
  /* gap: 2%; */
}
figure.card .card-container .fa-ellipsis {
  cursor: pointer;
  display: block;
  font-size: 1.2rem;
  font-weight: 800;
  text-align: right;
  padding: 0 1rem;
  margin-bottom: 0.5rem;
}
.card .main-section.flex-2 > * {
  /* border: 1px solid red; */
  margin-bottom: 1.8rem;
}
.card .main-section .place-right {
  /* border: 1px solid yellow; */
}
.card .main-section .place-right > * {
  margin-bottom: 1.2rem;
}
.card .main-section .place-right h4 {
  margin-bottom: 0;
  text-transform: capitalize;
}
.card .main-section .place-right p {
  text-transform: capitalize;
}
.card .main-section .place-left {
  /* border: 1px solid red; */
}
.card .main-section .place-left {
  /* flex-basis: 15%; */
}
.card .main-section .place-left .img-container {
  /* border: 1px solid green; */
  /* flex-basis: 20%; */
  /* height: 100%; */
}
.card .main-section .place-left .img-container img {
  height: 100%;
  border-radius: 14px;
}
.e-learning-page .btn-group {
  align-items: flex-start;
  justify-content: flex-start;
}
.e-learning-page .btn-group > * {
  flex-basis: 18%;
  text-align: center;
  margin-bottom: 1.4rem;
  padding: 1.2rem;
}

.e-learning-page .banner-section {
  /* border: 1px solid red; */
  background: url("../images/e-learning-banner.svg") 50% 60% / cover no-repeat
    rgb(0, 0, 0, 0.4);
  display: flex;
  flex-flow: column wrap;
  height: 350px;
}
.e-learning-page .banner-section > * {
  margin: auto;
}
.e-learning-page .banner-section .banner-body svg {
  width: 80px;
  height: 80px;
}
.e-learning-page .banner-section h4 {
  font-weight: 600;
  font-size: 1.4rem;
}
.e-learning-page .banner-section h4,
.e-learning-page .banner-section h5,
.e-learning-page .banner-section p {
  color: var(--white-color);
  text-align: center;
}
.e-learning-page .video-container .flex-row > * {
  margin-bottom: 2rem;
  border-radius: 18px;
  box-shadow: var(--box-shadow);
}
.e-learning-page .video-container .flex-row iframe {
  width: 100%;
  height: 380px;
  border-radius: inherit;
}
.e-learning-page .view-more .cta-btn {
  width: 150px;
  padding: 0.7rem;
  font-size: 85%;
  color: var(--color);
  border: 1px solid var(--color);
}
/* 
==============================
==============================
for the generated card figure 
(book catalogue section)
===============================
*/
figure.card .cta-btn {
  width: 60%;
}
figure.book-catalogue-card {
  position: relative;
}
figure.book-catalogue-card:hover {
  background-color: rgb(0, 0, 0, 0.5);
}
figure.book-catalogue-card:hover .readmore a {
  background-color: var(--green);
  color: #fff;
  display: block;
}
figure.book-catalogue-card .readmore {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  /* border: 1px solid green; */
}
figure.book-catalogue-card .readmore a {
  margin: auto;
  display: none;
  padding: 0.6rem;
}

/* 
===========================
large desktop
===========================
*/
@media (min-width: 980px) {
  .virtual-library .cta-btn {
    width: 40%;
  }
  .virtual-library .flex-2 .banner-image {
    margin-top: 0;
  }
  .e-learning-page .video-container .flex-row {
    display: flex;
    flex-flow: row wrap;
    gap: 4%;
  }
  .e-learning-page .video-container .flex-row > * {
    flex-basis: 22%;
  }
}
@media (min-width: 1460px) {
  .card .main-section.flex-2 {
    align-items: center;
  }
  .card .main-section.flex-2 > * {
    flex-basis: 48%;
  }
}
