/* Header styles goes here */
header {
  position: relative;
}
.header-container .logo-container {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
}

.header-container .logo-container > *:first-child {
  flex-basis: 60px;
}
.header-container .logo-container > *:last-child {
  flex-basis: 120px;
}
.header-container .logo-container > *:last-child p,
.header-container .logo-container > *:last-child small {
  font-size: 62%;
  color: var(--logo-text-color);
  font-weight: 500;
}

.header-container .header-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  /* border: 1px solid red; */
  padding: 1.5rem 0rem;
}
.header-container .header-row > *:last-child {
  flex-basis: 4%;
  display: flex;
  justify-content: space-around;
  /* border: 1px solid red; */
}
.header-container .header-row > *:last-child > *:last-child {
  /* border:1px solid red; */
  flex-basis: 100%;
}

.header-container .header-row > *:first-child {
  flex-basis: 100px;
}

.header-container .header-row .navbar-container {
  position: absolute;
  background-color: #010216;
  color: var(--white-color);
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1010;
  padding: 1rem;
  transform-origin: top right;
  transform: scale(0, 1);
  visibility: hidden;
  transition: transform 0.5s ease;
  /* border: 1px solid red; */
  height: 100vh;
}

/* ===========================
===============================
toggle button Mobile view styles
=============================== 
*/

.toggle-btn {
  cursor: pointer;
  color: #696969;
  display: inline-block;
  font-size: 1.4em;
  padding: 0px 12px 6px;
  z-index: 1000;
  /* border: 1px solid red; */
}
.toggle-btn:focus-within,
.toggle-btn:hover {
  color: var(--hover-color);
}
.header-container .close-toggle-btn {
  text-align: right;
}
.header-container .close-toggle-btn span {
  color: #fff;
  font-weight: 600;
  font-size: 1.1rem;
  cursor: pointer;
  padding: 2px 12px;
}
.header-container .header-row .show-toggle-menu {
  transform: scale(1);
  visibility: visible;
}
.header-container .header-row .close-toggle-menu {
  transform: scale(0, 1);
}

/* ==========header menu links and nested links (navbar)====== */
.header-container .header-row .navbar-container {
  background-color: var(--green);
}
.header-container .header-row .navbar-container a {
  color: var(--white-color);
  display: block;
  padding: 1.2rem;
  font-size: 0.85rem;
  font-weight: 400;
}
.navbar-container .list-menu .dropdown {
  position: relative;
  z-index: 998;
}
.list-menu .dropdown .dropdown-menu {
  transform: scale(1, 0);
  transform-origin: top center;
  transition: transform 0.5s ease;
  visibility: hidden;
  /* position:absolute; */
  height: 0;
  z-index: 1020;
  position: relative;
  background-color: var(--green);
}
.navbar-container .list-menu .dropdown:hover > .dropdown-menu {
  transform: scale(1);
  visibility: visible;
  background-color: var(--green);
  height: auto;
}

.list-menu .dropdown .dropdown-menu a {
  padding: 0.4rem 2rem;
}

/* ==========================
============MEDIA QUERIES===== 
Break points 0px - 480px -980px;
*/

/* 
*************************
not part standard of
 the standard breakpoints
*************************
for the header theme icon 
*/
/*===========================mini Tablet==================== */
@media (min-width: 320px) {
  .header-container .header-row > *:first-child {
    flex-basis: 130px;
  }
}

/* ======================Tablet Device =============== */
@media (min-width: 480px) {
  .header-container .header-row > *:first-child {
    flex-basis: 180px;
  }
  .header-container .header-row > *:last-child {
    gap: 1.8rem;
  }
}

/*
============================
==========Deskktop Device=====
============================== */
@media (min-width: 980px) {
  /* in check */
  .header-container {
    /* border:0px solid yellow; */
    padding: 1rem;
  }
  .header {
    padding: 0px;
  }
  /* 
Turn off the toggle button 
*/
  .toggle-btn {
    display: none;
  }
  .close-toggle-btn {
    display: none;
  }
  .header-container .header-row .navbar-container {
    position: static;
    background-color: #010216;
    color: var(--white-color);
    width: initial;
    height: auto;
    z-index: 1010;
    padding: 0;
    transform-origin: initial;
    transform: none;
    transition: initial;
    /* display:flex; */
    visibility: visible;
  }
  .header-container .header-row {
    display: flex;
    /* justify-content:center; */
    /* padding:1rem; */
    /* border: 1px solid teal; */
  }
  .header-container .header-row > *:first-child,
  .header-container .header-row > *:last-child {
    flex-basis: 85%;
  }
  .header-container .header-row > *:first-child {
    flex-basis: 15%;
    margin-right: auto;
  }

  .header-container .header-row > *:last-child {
    align-items: flex-start;
    /* border:2px dotted teal; */
  }

  .header-container .header-row > *:last-child > *:last-child {
    order: 1;
    /* border:1px solid red; */
  }
  .header-container .header-row > *:last-child > *:nth-child(2) {
    order: 3;
    /* border:1px solid red; */
  }
  .header-container .header-row .list-menu {
    display: flex;
    /* flex-flow:row wrap; */
    align-items: center;
    background-color: var(--background-color);
    justify-content: space-between;
  }

  .navbar-container .list-menu .dropdown {
    /* border:0px solid red; */
  }
  .navbar-container .list-menu .dropdown:hover .dropdown-menu {
    /* border:0px solid red; */
    min-width: 200px;
    background-color: #fdfdfd;
    padding: 0.4rem;
    border-radius: 5px;
    -o-box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.1),
      -1px -1px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.1),
      -1px -1px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.1),
      -1px -1px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.1), -1px -1px 0px rgba(0, 0, 0, 0.1);
    color: #a7a7a7;
  }
  .navbar-container .list-menu .dropdown:hover .dropdown-menu a,
  .navbar-container .list-menu .dropdown:hover .dropdown-menu .fa-caret-down {
    color: var(--color);
    text-align: justify;
  }
  .list-menu .dropdown .dropdown-menu {
    position: absolute;
  }
  .header-container .header-row .navbar-container {
    background-color: var(--background-color);
  }
  .header-container .header-row .navbar-container a {
    padding: 0.2rem;
    color: var(--link-text-color);
  }
  .list-menu .dropdown .dropdown-menu a {
    padding: initial;
    /* border:0px solid red; */
    padding-bottom: 0.7rem;
    text-align: center !important;
  }
}
